.header {
    background-color: #333366;
    margin: 0;
    padding: 0;
}
.header h1 {
    color: white;
    display: inline-block;
    font-size: 1.5em;
    padding: 0 1em;
}

.nav {
    display: inline-block;
    float: right;
}

.nav ul li {
    display: inline-block;
    padding: 0.5em 1em;
}
.nav ul li a {
    text-decoration: none;
    color: #aaccff;
}

a.active {
    border-bottom: 2px solid #aaccff;
}