.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.01;
}

.overlay {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 1rem;
  min-width: 25em;
  max-width: 90%;
  min-height: 20vh;
  max-height: 90vh;
  border: 1px solid gray;
  border-radius: 0.5rem;
  background-color: white;
}
.overlay h2.header {
  background-color: navy;
  color: white;
  margin: 0;
  padding: 0.2rem;
}

.invisibleBackdrop {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.menuBelow {
  position: absolute;
  transform: translate(-30%, 5%);
  min-width: 150px;
  border: 1px solid gray; 
  background-color: white;
}

.menuAbove {
  position: absolute;
  transform: translate(-50%, -105%);
  min-width: 150;
  border: 1px solid gray; 
  background-color: white;
}

.menu {
  margin: 0;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 0;
}
.menu li button,
div.submenu {
  background-color: transparent;
  color: gray;
  border: 1px dotted lime;
  border-radius: 0px;
  width: 100%;
  border: 0;
  text-align: left;
  padding: 2px 15px;
  font-size: 0.8em;
}
.menu li button:hover {
  color: black;
}
.menu li:hover {
  background-color: silver;
}

.submenu ul {
  display: none;
  position: absolute;
  border: 1px solid gray;
  background-color: white;
  list-style: none;
  min-width: 150px;
  padding: 0;
  margin: 0;
  margin-left: calc(100% - 1rem + 1px);
  transform: translate(0, -1.5em);
}

.submenu * {
  font-size: 1.1em;
}

.submenu:hover ul {
  display: block;
}